{% extends "base.html" %}
{% block body %}
	<p>排行榜1</p>
	<table>
		<tr>
			<td>
				<a href="/static/image/example.jpg"><img src="/static/image/example.jpg"></a>
				<br>
				<a href="javascript:void(0)">大护法</a>
			</td>
			<td>
				<a href="/static/image/example.jpg"><img src="/static/image/example.jpg"></a>
				<br>
				<a href="javascript:void(0)">大护法</a>
			</td>
			<td>
				<a href="/static/image/example.jpg"><img src="/static/image/example.jpg"></a>
				<br>
				<a href="javascript:void(0)">大护法</a>
			</td>
			<td>
				<a href="/static/image/example.jpg"><img src="/static/image/example.jpg"></a>
				<br>
				<a href="javascript:void(0)">大护法</a>
			</td>
		</tr>
	</table>
	<p>排行榜2</p>
	<table>
		<tr>
			<td>
				<a href="/static/image/example.jpg"><img src="/static/image/example.jpg"></a>
				<br>
				<a href="javascript:void(0)">大护法</a>
			</td>
			<td>
				<a href="/static/image/example.jpg"><img src="/static/image/example.jpg"></a>
				<br>
				<a href="javascript:void(0)">大护法</a>
			</td>
			<td>
				<a href="/static/image/example.jpg"><img src="/static/image/example.jpg"></a>
				<br>
				<a href="javascript:void(0)">大护法</a>
			</td>
			<td>
				<a href="/static/image/example.jpg"><img src="/static/image/example.jpg"></a>
				<br>
				<a href="javascript:void(0)">大护法</a>
			</td>
		</tr>
	</table>
{% endblock %}
