{% extends "base.html" %}
{% block body %}
	<p>很多人评分为满分的电影</p>
	<table>
		<tr>
			{% for key, value in movies1.items() %}
			<td class='list'>
				<a href="/movie/{{key}}"><img src="/static/image/{{key}}.jpg"></a>
				<br>
				<a href="/movie/{{key}}">{{value}}</a>
			</td>
			{% endfor %}
		</tr>
		<tr>
			{% for key, value in movies2.items() %}
			<td class='list'>
				<a href="/static/image/{{key}}.jpg"><img src="/static/image/{{key}}.jpg"></a>
				<br>
				<a href="/movie/{{key}}">{{value}}</a>
			</td>
			{% endfor %}
			</td>
		</tr>
	</table>
{% endblock %}
