{% extends "base.html" %}
{% block body %}
	<p>根据年龄推荐</p>
	<table>
		<tr>
			{% for key, value in movies_age.items() %}
			<td class='list'>
				<a href="/movie/{{key}}"><img src="/static/image/{{key}}.jpg"></a>
				<br>
				<a href="/movie/{{key}}">{{value}}</a>
			</td>
			{% endfor %}
		</tr>
	</table>
	<p>根据性别推荐</p>
	<table>
		<tr>
			{% for key, value in movies_gender.items() %}
			<td class='list'>
				<a href="/movie/{{key}}"><img src="/static/image/{{key}}.jpg"></a>
				<br>
				<a href="/movie/{{key}}">{{value}}</a>
			</td>
			{% endfor %}
		</tr>
	</table>
{% endblock %}
